@mixin breakpoint($point) {
	@if $point == chewie {
		@media (min-width: $breakpoint-large-max + 1) { @content ; }
	}
	@else if $point == large {
		@media (min-width: $breakpoint-mediumlarge-max + 1) { @content ; }
	}
	@else if $point == mediumlarge {
		@media (min-width: $breakpoint-medium-max + 1) { @content ; }
	}
	@else if $point == medium {
		@media (min-width: $breakpoint-small-max + 1) { @content ; }
	}
	@else if $point == small {
		@media (min-width: $breakpoint-tiny-max + 1) { @content ; }
	}
	@else if $point == tinyonly {
		@media (max-width: $breakpoint-tiny-max) { @content ; }
	}
	@else if $point == mediumonly {
		@media (min-width: $breakpoint-small-max + 1) and (max-width: $breakpoint-medium-max) { @content ; }
	}
}

@mixin vertical-centre() {
	top: 50%;
	transform: translateY(-50%);
}
@mixin vertical-bottom() {
	bottom: 0;
}

@mixin absolute-centre() {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
