/**
* Module definitions
* Rules in this file only apply in browsers which support media queries
*/

@import '../config/config';

@include breakpoint(medium) {

	.module {

		&.hero {
			background-color: $hero-background;

			.caption {
				position: absolute;
				@include absolute-centre();
			}

			.image {
				padding: (4 * $unit-y) 0;
			}
		}

		&.nav {
			&.primary {
				.inner {
					height: 2.5 * $unit-y;
				}
				.brand {
					position: absolute;
					left: $unit-x / 2; bottom: 0;
				}
				.menu {
					position: absolute;
					right: $unit-x / 2; bottom: 0;
				}
			}
		}

	}
}

@include breakpoint(mediumlarge) {

	.module {

		&.nav {
			&.primary {
				.brand {
					position: absolute;
					left: $unit-x;
				}
				.menu {
					right: $unit-x;
				}
			}
		}

	}
}