.module {
	
	&.row {
		text-align: left;
		padding-top: $unit-y;
		padding-bottom: $unit-y;
	}
	
	&.grid {
		.elm {
			padding-bottom: $unit-y;
		}
	}
	
	&.hero, &.hero .inner {
		text-align: center;
	}
	&.hero {
		background-color: $hero-background;
		.caption {
			position: relative;
			z-index: 1;
		}
		.image {
			position: relative;
			@extend %background-flood;
			padding: (2 * $unit-y) 0;
			&.overlay {
				&:after {
					content: '';
					display: block;
					@extend %flood;
				}
				&.dark {
					.row-title,.row-subtitle {
						color: $hero-overlay-dark-colour;
					}
					&:after {
						background-color: $hero-overlay-dark-background;
					}
				}
				&.light {
					.row-title,.row-subtitle {
						color: $hero-overlay-light-colour;
					}
					&:after {
						background-color: $hero-overlay-light-background;
					}
				}
			}
		}
	}

	&.video {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		margin-bottom: $unit-y;
		background-color: $video-background;
		iframe {
			@extend %flood;
			&[src*="youtube"], &[src*="youtu.be"]{
				background: url('../images/icons/video.png') center / #{$unit-x * 2} #{$unit-y * 2} no-repeat;
			}
		}
	}

}