@import '../config/config';
@import 'typography';

.print.logo {
	display: none;
}

.inner {
	@extend %clearfix;
}

.constrained {
	.inner {
		position: relative;
		box-sizing: content-box;
		max-width: $width-constraint;
		margin-left: auto;
		margin-right: auto;
		padding-left: $unit-x;
		padding-right: $unit-x;
	}
}

nav {
	&.meta {
		background-color: $meta-background;
		color: $meta-colour;
		a {
			color: inherit;
		}
	}
	&.meta, &.primary {
		text-align: center;
		li {
			display: inline-block;
		}
	}
	
	&.primary {
		.brand {
			@extend %bgi;
			width: $unit-x * 3;
			height: $unit-x * 3;
			margin: 0 auto;
			background: url('../images/icons/frappant_cube_128.png') center / contain no-repeat;
		}
	}
}

.module {
	
	&.row {
		text-align: left;
		padding-top: $unit-y;
		padding-bottom: $unit-y;
	}
	
	&.hero, &.hero .inner {
		text-align: center;
	}
	&.hero {
		background-color: $hero-background;
		.caption {
			position: relative;
			z-index: 1;
		}
		.image {
			position: relative;
			@extend %background-flood;
			padding: (2 * $unit-y) 0;
			&.overlay {
				&:after {
					content: '';
					display: block;
					@extend %flood;
				}
				&.dark {
					.row-title,.row-subtitle {
						color: $hero-overlay-dark-colour;
					}
					&:after {
						background-color: $hero-overlay-dark-background;
					}
				}
				&.light {
					.row-title,.row-subtitle {
						color: $hero-overlay-light-colour;
					}
					&:after {
						background-color: $hero-overlay-light-background;
					}
				}
			}
		}
	}

	&.video {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		margin-bottom: $unit-y;
		background-color: $video-background;
		iframe {
			@extend %flood;
			&[src*="youtube"], &[src*="youtu.be"]{
				background: url('../images/icons/video.png') center / #{$unit-x * 2} #{$unit-y * 2} no-repeat;
			}
		}
	}

}