@import '../config/config';
@import 'typography';

.constrained {
	.inner {
		text-align: left;
		max-width: $width-constraint;
		margin-left: auto;
		margin-right: auto;
		padding-left: #{$unit-x / 2};
		padding-right: #{$unit-x / 2};
	}
}

nav {
	&.meta, &.primary {
		li {
			display: inline-block;
		}
		
	}
}

.module {
	
	&.row {
		padding-top: $unit-y;
		padding-bottom: $unit-y;
	}
	
	&.hero, &.hero .inner {
		text-align: center;
	}
	&.hero {
		background-color: $hero-background;
		.caption {
			position: relative;
			z-index: 1;
		}
		.image {
			position: relative;
			background: 20000% 0 no-repeat;
			padding: (2 * $unit-y) 0;
			&.overlay {
				&:after {
					content: '';
					display: block;
					@extend %flood;
				}
				&.dark {
					.row-title,.row-subtitle {
						color: $hero-overlay-dark-colour;
					}
					&:after {
						background-color: $hero-overlay-dark-background;
					}
				}
				&.light {
					.row-title,.row-subtitle {
						color: $hero-overlay-light-colour;
					}
					&:after {
						background-color: $hero-overlay-light-background;
					}
				}
			}
		}
	}

	&.video {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		margin-bottom: $unit-y;
		iframe {
			@extend %flood;
		}
	}

}